:root{
    --fuenteHeading: 'PT Sans', sans-serif;
    --fuenteParrafos: 'Open Sans', sans-serif;

    --primario: #784D3C;
    --gris:#e1e1e1;
    --blanco: #ffffff;
    --negro: #000000;
    --azul:#5ce5d7;
}

*{
    padding: 5;
    margin: 5;
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    background-image:  linear-gradient(rgba(0,0,0, 0.7), rgba(0,0,0, 0.7)),
    url(../images/agricultura2.jpg);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

form{
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    padding: 50px;
    width: 420px;
    box-shadow: 0 0 20px rgba(0,0,0,0.2);
    text-align: center;
}

form h2{
    font-size: 30px;
    color: #5ce5d7;
    margin-bottom: 35px;
}

input{
    padding: 17px;
    border-radius: 25px;
    background-color: transparent;
    border: 2px solid #5ce5d7;
    margin-bottom: 30px;
    outline: none;
    color: #000000;
    font-size: 16px;
}

::placeholder{
    color: #5ce5d7;
}

.btn{
    background-color: #5ce5d7;
    border: 2px solid #5ce5d7;
    cursor: pointer;
}

.btn:hover{
    background-color: #134ece;
    border: 2px solid #134ece;
}

@media (max-width: 991px) {
  body{
    padding: 30px;
  }
  form{
    width: 340px;
  }

}